* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.4rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

.inline-block {
    display: inline-block;
}

.scroll-row {
    display: inline-flex;
    overflow: hidden;
    overflow-x: scroll;
}

.flex-row {
  display: flex;
  align-content: center;
  overflow-x: scroll;
}

.list-gap {
    margin-right: 1.2rem;
}

.roundButton {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background: none;
  border: 2px solid rgb(240, 240, 240);
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  img {
    width: 4rem;
  }
}
.topbarhidden {
  height: 8rem;
}
.imgcard {
  overflow: hidden;
  position: relative;
  height: 50vw;
  border-radius: 2rem;
  img {
    height: 100%;
    width: 100%;
  }
  .content {
    color: white;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    fill: white;
    .cardTitle {
      font-size: 1.2rem;
    }
    .cardSubtitle {
      opacity: 0.5;
      .icon {
        width: 1rem;
        height: 1rem;
        padding-top: 0.1rem;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#00000000, #000000ff);
    margin-top: 20%;
  }
}

.topBar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  justify-content: space-between;
  backdrop-filter: blur(2rem);
}

.categoryCard {
  border: 1px solid rgb(240, 240, 240);
  border-radius: 3rem;
  width: 36vw;
  height: 36vw;
  padding: 2rem;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  place-items: center;
  img {
      width: 80%;
      height: 80%;

  }
  h3 {
      place-self: top;
  }
}

.page-indicator {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.5rem 2rem;
    display: flex;
    list-style-type: none;
    li {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 0.5rem;
        margin: 0.5rem 0.4rem 0rem;
        background: pink;
    }
    :first-child {
        width: 1rem;
    }
}

section {
  padding: 2rem;
  position: relative;
}
